<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.codebud7.alfred-intellij</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3E0BE011-596C-4FF6-B5F9-70E75F7B1254</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34D8A1EA-6A87-4CD8-8FC5-8BAB9E56C882</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1831683-C3F3-4840-8496-359D0ABFE7B9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open project in finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4858D61-54FC-4025-BF6B-BFD078B30250</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A5E2241-659D-4B7A-885E-0DDEB019F85E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sebastian Puskeiler</string>
	<key>description</key>
	<string>Alfred workflow for IntelliJ project handling.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-intellij</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/IntelliJ IDEA.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>34D8A1EA-6A87-4CD8-8FC5-8BAB9E56C882</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tell</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Finding your local project(s)...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>Find your local projects.</string>
				<key>title</key>
				<string>alfred-intellij</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3E0BE011-596C-4FF6-B5F9-70E75F7B1254</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>E1831683-C3F3-4840-8496-359D0ABFE7B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node config.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A5E2241-659D-4B7A-885E-0DDEB019F85E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tell-config</string>
				<key>subtext</key>
				<string>Configure the path to your local projects.</string>
				<key>text</key>
				<string>alfred-intellij configuration</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4858D61-54FC-4025-BF6B-BFD078B30250</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A5E2241-659D-4B7A-885E-0DDEB019F85E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>34D8A1EA-6A87-4CD8-8FC5-8BAB9E56C882</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>3E0BE011-596C-4FF6-B5F9-70E75F7B1254</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>A4858D61-54FC-4025-BF6B-BFD078B30250</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E1831683-C3F3-4840-8496-359D0ABFE7B9</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>6.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/codebud7/alfred-intellij#readme</string>
</dict>
</plist>
